<!DOCTYPE>
<html>

<head>
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

<style>
table, th, td {
	border : 1px solid black;
	border-collapse: collapse;
	padding : 20px;
}

</style>
</head>

<body>

<!-- Ajouter le navbar -->
{% extends "layout.html" %}

<!-- Ajouter le JavaScript -->
{% block head_extra %}
<script src="/static/js/formulaire.js"></script>
{% endblock %}

{% block content %}

<p><h2 style = "text-align:center";>Demande d'admission</h2></p>
<p>Je demande à être admis comme <b>membre</b> de la Coop Bécik.</p>
<p>Je m'engage à respecter les règles de la coopérative.</p>
<p>Je m'engage à verser à la coopérative un montant de 10$ applicable au paiement de mes parts de qualification, conformément au règlement de régie interne adopté parla coopérative.</p>
<p>S'il y a lieu, je m'engage à finaliser le paiement de mes parts de qualification selon les modalités déterminées par le règlement de régie interne de la coopérative.</p>
<div>
	<form action="sauvegarder_formulaire" method="POST">
<table width = "75%"; align="center" style="margin: 0px auto;">	
	<tr style = "fontStyle: bold">
		<th colspan ="2">IDENTITÉ</th>
	</tr>
	<tr>
		<td style = "fontStyle: italic">Prénom:
		 <input type= "text" name="prenom" id="ajoutprenom">
		</td>
		<td id="nom" style="border-left:0px">Nom:
			<input type="text" name= "nom" id="ajoutnom">
		</td>
	</tr>
	<tr>
		<td>Adresse:
			<input type="text" name= "adresse">
		</td>
		<td id="provenance" style="border-left:0px">Provenance:
			<input type="text" name= "provanance" id="ajoutprovenance" >
		</td>
	</tr>
	<tr>
		<td>Courriel:
			<input type="email" name="courriel" id="ajoutcourriel">
		</td>
		<td>Téléphone:
			<input type= "text" name="telephone">
		</td>
	</tr>
	<tr style = "fontStyle: bold">
	 <th colspan="2" > INFORMATIONS COMPLÉMENTAIRES</th>
	 </tr>
	<tr>
		<td colspan = "2">Lien avec Côte-des-Neiges:
			<input type="checkbox" name="lien" value = "resident" > Résident /
			<input type="checkbox" name="lien" value = "lieu" > Lieu de travail /
			<input type="checkbox" name="lien" value = "etudiant" > Étudiant /
			<input type="checkbox" name="lien" value = "autre" > Autre
		</td>
			</tr>
		<tr>
		<td colspan = "2">Activités d'intérêts:
			<input type="checkbox" name="activite" value = "réparation" > Ateliers de réparation /
			<input type="checkbox" name="activite" value = "vente" > Vente de pièces /
			<input type="checkbox" name="activite" value = "social" > Activités sociales (sorties, 5 à 7 ) /
			<input type="checkbox" name="activite" value = "info" > Informations sur le cyclisme /
			<input type="checkbox" name="activite" value = "formation" > Formations mécaniques

		</td>
	</tr>
	<tr>
		<td colspan="2">

        <input type="checkbox" id="ajoutlistedenvoi" name="ajouter liste envoi" value="oui">Bulletin d'information: Je souhaite recevoir des nouvelles (évènements, horaires, etc.) de la Coop</input>
			
		</td>
	</tr>
</table>
<br/>
Date de paiement : <input type = "datetime-local" name = "date de paiement">

<br>
<!-- <p style="color:red">Assurez-vous de cliquer ce bouton d'abord</p>
 --><center>
 <br>
<button href="#" class="btn btn-primary" id="ajoutenvoyer" type="submit">Sauvegarder</button></center>

<!-- <br/>
<br/>
<p style="color:red">Cliquez seulement ce deuxième bouton quand vous avez vu le message apparaître.</p> -->

<!-- <center><button class="btn btn-primary btn-block" id="ajoutenvoyer" type="submit" align="center" >Cliquez ce bouton seulement après que vous avez cliqué celui d'en haut</button></center>
 -->
</form>


<br/>
<br/>

{% endblock %}

</body>
</html>
